.main{
    width:960px;
    height: 500px;
    border: 1px solid rgb(177, 177, 177);
    border-radius: 10px;
    margin-left:23%;
    margin-top:50px;
    background-color: rgb(255, 255, 255);
}
.title{
    margin-top:15px;
    margin-left: 20%;
}
img{
    width: 200px;
    height: 200px;
}
.img{
    width: 200px;
    height: 300px;
    margin-left: 100px;
    margin-top:30px;
}
.content{
    margin-top:10px;
    margin-left: 16%;  
}