.full{
    width: 800px;
    height:500px;
    margin-top:100px;
}
.body{
    background-color: rgb(255, 255, 255);
}
.img{
    width:200px;
    height: auto;
}
.scene{
    margin:40px;
}
.content{
    margin-top: 20px;
}
.content:hover{
    border-radius: 3px;
    box-shadow: 1px 1px 1px 1px black;
}