.scene1{
    margin-top: 10px;
    height: 550px;
    width: 960px;
    border-radius:20px;
    margin-left:23%;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(177, 177, 177);
}
.main{
    border-radius: 0px 0px 20px 20px;
    background-color: rgb(255, 255, 255);
}

.target1{
    margin-top: 90px;
    background-color: rgb(255, 244, 210);
    border: 4px solid  rgb(255, 244, 210);
    border-radius: 20px;
    width: 437px;
    height: 141px;
    margin-left:30px;
    animation-name: exampleTarget1;
    animation-duration: 3s;
}
@keyframes exampleTarget1 {
    from {
        border: 4px solid rgb(230, 230, 230);
        background-color: rgb(255, 255, 255);
    }
    to {
        background-color: rgb(255, 244, 210);
        border: 4px solid  rgb(255, 244, 210);
    }
}

.target1:hover{
    background-color: rgb(255, 241, 181);
    border: 4px solid  rgb(255, 241, 181);
}
.target2{
    margin-top: 90px;
    border: 4px solid rgb(230, 230, 230);
    border-radius: 20px;
    width: 437px;
    height: 141px;
    margin-left:-4px;
}
.target3{
    margin-top: 90px;
    background-color: rgb(255, 244, 210);
    border: 4px solid  rgb(255, 244, 210);
    border-radius: 20px;
    width: 437px;
    height: 141px;
    margin-left:-4px;
    animation-name: exampleTarget3;
    animation-duration: 3s;

}
@keyframes exampleTarget3 {
    from {
        border: 4px solid rgb(230, 230, 230);
        background-color: rgb(255, 255, 255);
    }
    to {
        background-color: rgb(255, 244, 210);
        border: 4px solid  rgb(255, 244, 210);
    }
}

.target1_true{
    width: 377px;
    height: 141px;
    margin-left: 30px;
    margin-top: 10px;
}

.target2_true{
    width: 357px;
    height: 121px;
    margin-left: 60px;
    margin-top: 10px;
}

.description{
    height: 10px;
    position: relative;
    animation-name: exampleTens;
    animation-duration: 3s;  
    animation-fill-mode: both;
    margin-left: 40px;
}
@keyframes exampleTens {
    from {top: 0px; color: white;}
    to {top: 135px; color: black;}
}
.descriptionOnes{
    height: 10px;
    position: relative;
    animation-name: exampleOnes;
    animation-duration: 3s;  
    animation-fill-mode: both;
    margin-left: 10px;
}
@keyframes exampleOnes {
    from {top: 0px; color: white;}
    to {top: 135px; color: black;}
}
.tensAnimation{
    position: relative;
    animation-name: Tens;
    animation-duration: 1.5s;  
    animation-fill-mode: both;
}
@keyframes Tens {
    from {top: 0px; right: 0px;}
    to {top: 14px; right: 70px;}
}
.onesAnimation{
    position: relative;
    animation-name: Ones;
    animation-duration: 1.5s;  
    animation-fill-mode: both;
}
@keyframes Ones {
    from {top: 0px; right: 0px;}
    to {top: -26px; right: 60px;}
}
.tensNoAnimation{
    color: rgb(32, 194, 32);
}
.images{
    margin-left: 30px;
}
.col-3 img{
    width: 50px;
    height: 50px;
    margin-top: 20px;
}
.target1_true img{
    margin-right: -15px;
}
.target1_true img img{
    margin-right: -15px;
    width: 100px;
    height: 100px;
    margin-left: 200px;
}
.target2_true img{
    margin-right: 10px;
}
.tenOrOnes{
    margin-top:3px;
    height: 86;
    width: 173;
    border: 9px solid #FFD000;
    border-radius: 19px;
    margin-left:-37px;
}
#button1{
    border-bottom: 1px solid rgb(196, 196, 196);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#button2{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.button{
    height: 43px;
    width: 155px;
    background-color: rgb(241, 241, 241);
}
.tenOrOnes div h3{
    padding-top:6px;
    margin-left: 30%;
}
.col-4 h3#bar1{
    margin-top:32px;
}
.block{
    padding: -30px;
}
.button:hover{
    background-color: rgb(255, 255, 255);
}

.divAbove{
    height: 50px;
    border-radius: 20px 20px 0px 0px;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(211, 211, 211);
}
.process{
    width: 460px;
    height: 24px;
    border-radius: 20px;
    background-color: rgb(241, 241, 241);
    margin-left: 15%;
    margin-top:12px;
    border: 1px solid rgb(180, 180, 180);
}
.ball{
    width: 22px;
    height: auto;
    margin-left: 1px;
    margin-bottom: 5px;
    margin-right: -4px;
}
#ball5_2{
    position: relative;
    animation-name: ball5_2;
    animation-duration: 0.5s;  
    animation-fill-mode: both;
}
@keyframes ball5_2 {
    from {left: 0px;}
    to {left:343px;}
}
.back{
    width: 50px;
    height: 40px;
    font-size: 29px;
    margin-left: 16px;
    margin-top: 30px;
}

.start{
    width: 280px;
    height: 300px;
    margin-top: 10%;
    margin-left: 32%;
    cursor: pointer;
}
.start:hover{
    width: 310px;
    height: 330px;
   
}
#allSelect{
    margin-top:20px;
}
#chooseLanguare{
    margin-left: 19px;
    margin-top:4px;
    background-color:rgb(255, 255, 255);
    border:none;
    color: rgb(0, 183, 255);
    font-size: 20px;
}
#chooseLanguare:hover{
    color: rgb(0, 111, 214);
}




/* scene2.2 */
.target1_true_scene2 img{
    margin-right: -15px;
}
.target1_true_scene2{
    width: 377px;
    height: 141px;
    margin-left: 30px;
    margin-top: 10px;
}

.target2_scene2{
    margin-top: 90px;
    border: 4px solid rgb(230, 230, 230);
    border-radius: 20px;
    width: 437px;
    height: 141px;
    margin-left:-4px;
}
.finishScene2{
    width: 70px;
    height: 50px;
    border-radius: 8px;
    background-color: rgb(154, 230, 243);
    margin-top:50px;
}


/* scene1.3 */
.description_scene3{
    height: 10px;
    position: relative;
    animation-name: exampleTens_scene3;
    animation-duration: 3s;  
    animation-fill-mode: both;
    margin-left: 40px;
}
@keyframes exampleTens_scene3 {
    from {top: 0px; color: white;}
    to {top: 110px; color: black;}
}

.target1_true_scene3 img{
    margin-right: -15px;
}
.target1_true_scene3{
    width: 377px;
    height: 141px;
    margin-left: 30px;
    margin-top: 10px;
}

.target2_scene3{
    background-color: rgb(255, 244, 210);
    border: 4px solid  rgb(255, 244, 210);
    margin-top: 90px;
    border-radius: 20px;
    width: 437px;
    height: 141px;
    margin-left:-4px;
    animation-name: Target2_scene3;
    animation-duration: 3s;
}
@keyframes Target2_scene3 {
    from {
        border: 4px solid rgb(230, 230, 230);
        background-color: rgb(255, 255, 255);
    }
    to {
        background-color: rgb(255, 244, 210);
        border: 4px solid  rgb(255, 244, 210);
    }
}
.finishscene3{
    width: 70px;
    height: 50px;
    border-radius: 8px;
    background-color: rgb(154, 230, 243);
    margin-top:50px;
}



/* scene1.4 */
.description_scene4{
    height: 10px;
    position: relative;
    animation-name: exampleTens_scene4;
    animation-duration: 3s;  
    animation-fill-mode: both;
    margin-left: 40px;
}
@keyframes exampleTens_scene4 {
    from {top: 0px; color: white;}
    to {top: 110px; color: black;}
}

.target1_true_scene4 img{
    margin-right: -15px;
}
.target1_true_scene4{
    width: 377px;
    height: 141px;
    margin-left: 30px;
    margin-top: 10px;
}

.target2_scene4{
    background-color: rgb(255, 244, 210);
    border: 4px solid  rgb(255, 244, 210);
    margin-top: 90px;
    border-radius: 20px;
    width: 437px;
    height: 141px;
    margin-left:-4px;
    animation-name: Target2_scene3;
    animation-duration: 3s;
}
@keyframes Target2_scene4 {
    from {
        border: 4px solid rgb(230, 230, 230);
        background-color: rgb(255, 255, 255);
    }
    to {
        background-color: rgb(255, 244, 210);
        border: 4px solid  rgb(255, 244, 210);
    }
}
.finishscene4{
    width: 70px;
    height: 50px;
    border-radius: 8px;
    background-color: rgb(154, 230, 243);
    margin-top:50px;
}


/* scene1.5 */
.description_scene5{
    height: 10px;
    position: relative;
    animation-name: exampleTens_scene5;
    animation-duration: 3s;  
    animation-fill-mode: both;
    margin-left: 40px;
}
@keyframes exampleTens_scene5 {
    from {top: 0px; color: white;}
    to {top: 110px; color: black;}
}

.target1_true_scene5 img{
    margin-right: -15px;
}
.target1_true_scene5{
    width: 377px;
    height: 141px;
    margin-left: 30px;
    margin-top: 10px;
}

.target2_scene5{
    background-color: rgb(255, 244, 210);
    border: 4px solid  rgb(255, 244, 210);
    margin-top: 90px;
    border-radius: 20px;
    width: 437px;
    height: 141px;
    margin-left:-4px;
    animation-name: Target2_scene5;
    animation-duration: 3s;
}
@keyframes Target2_scene5 {
    from {
        border: 4px solid rgb(230, 230, 230);
        background-color: rgb(255, 255, 255);
    }
    to {
        background-color: rgb(255, 244, 210);
        border: 4px solid  rgb(255, 244, 210);
    }
}
.finishscene5{
    width: 70px;
    height: 50px;
    border-radius: 8px;
    background-color: rgb(154, 230, 243);
    margin-top:50px;
}
